
############### Natdanai Modify 2023 ##########################

.vs/

*.suo
*.vcxproj
*.vcxproj.filters
*.sln
*.pdb
*.aps

[Ll]ocal
[Tt]emp

[Bb]in/*.dll
[Bb]in/*.exe

[Bb]in/Shaders
[Bb]in/Profilers
[Bb]in/Settings

[Dd]ependencies/SimpleLib